<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <h1>Welcome to {{title}}</h1>
    </mat-toolbar>
    <div class="Checkout">
        <button mat-button aria-label="cart" (click)="openCart()">
          <mat-icon>shopping_cart</mat-icon>
          Checkout
        </button>
        <button mat-button aria-label="account" (click)="openAccount()">
        <mat-icon>account_box</mat-icon>
            Account
        </button>
    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>